@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

*{
	margin:0;
	padding: 0;
	font-family: 'Roboto', 'Helvetica',sans-serif;
}

body{
	margin: 0;
	padding: 0;
	background-color: #f5f5f5; 
	font-family: 'Roboto', sans-serif;
}

.cuadro{
	width: 300px;
	position: relative;
	background-color: #000;
	padding: 20px;
	margin :20px;
	border: 10px solid blue;
	margin: auto;
	text-align: center;
}

.cuadro_mini{
	margin: auto;
	display: block;
	width: 100px;
	height: 100px;
	background-color: red;
}

.cuadro_mini_2{
	top: 5px;
	left: 0;
	height: 150px;
	background-color: yellow;
}